doctype html
html
     head
          title JBC


          //-the dashboard style links
          link(rel="stylesheet" href="assets/css/normalize.css")
          link(rel="stylesheet" href="assets/css/themify-icons.css")
          link(rel="stylesheet" href="assets/css/flag-icon.min.css")
          link(rel="stylesheet" href="assets/css/cs-skin-elastic.css")
          link(rel="stylesheet" href="assets/scss/style.css")
          link(href="assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet")

          link( rel="stylesheet" href="css/bootstrap.min.css")
          link(rel="stylesheet" href="css/style.css")  

          //-other css 

          link(rel="stylesheet" href="css/DashboardStyle.css")

               //-My  CSS
          link( rel="stylesheet" href="css/myDashboardCss.css")

          //-the font awesome icons
          link(href="icons/css/all.css" rel="stylesheet")
          //-header icon
          link(rel="icon" type="image/png" href="images/logo.png")
     body.container-fluid(style='height:100%;width:100%;background:url("images/lotion.jpg");background-position:center;background-repeat:no-repeat;background-size:cover;opacity:2;height:100vh;color:white')

          .row.firstRow
               .col-sm-2(style="background-color:white")
                    img.img-responsive(src="images/hugelogo.png" style="width:200px;height:60px" alt="Image")

               .col-sm-10.withinFirstRow
                    .row
                         .col-sm-10 
                              .row
                                   .col-sm-4.theHeading
                                        h1 Junior
                                   .col-sm-4.theHeading
                                        h1 Baby 
                                        //- i Stepping in when you need to step out!!!!!!!
                                   .col-sm-4.theHeading
                                        h1 Center
                              .row
                                   .col-sm-3
                                   .col-sm-6
                                        i Stepping in when you need to step out!!!!!
                                   .col-sm-3

                         .col-sm-2  
                              .dropdown.float-left
                                   a.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                        img.user-avatar.rounded-circle.dropdown(src="images/user.jpg" alt="User Avatar")

                                   .user-menu.dropdown-content
                                        a.nav-link(href="#")
                                             i.fas.fa-user My Profile
                                        a.nav-link(href="#")
                                             i.fas.fa-cog Settings
                                        a.nav-link(href="login")
                                             i.fas.fa-power-off Logout

          .row
               .col-sm-2.withinSecondRow
                    nav
                         ul
                              li
                                   a(title="dashboard" href="dashboard")
                                        span.fas.fa-home
                                        span.mini-sub-pro Home

                              //-supervisor tab
                              li.dropdown
                                   a
                                        span.fas.fa-user-graduate
                                        span Supervisors
                                   ul.dropdown-content
                                        li
                                             a(title="All Supervisors" href="allSupervisors")
                                                  span.mini-sub-pro All Supervisors
                                        li
                                             a(title="Add Supervisor" href="registerUsers")
                                                  span.mini-sub-pro Add Supervisors
                                        li
                                             a(title="Edit Supervisor" href="editSupervisor")
                                                  span.mini-sub-pro Edit Supervisors  
                                        li
                                             a(title="Supervisor Profile" href="supervisorProfile")
                                                  span.mini-sub-pro Supervisor Profile 
                              //-Baby sitter tab
                              li.dropdown
                                   a.has-arrow( aria-expanded="false")
                                        span.fas.fa-users
                                        span.mini-click-non Babysitter
                                   ul.submenu-angle(aria-expanded="false").dropdown-content
                                        li
                                             a(title="All Babysitters" href="allBabysitters")
                                                  span.mini-sub-pro All Babysitters
                                        li
                                             a(title="Add Babysitters" href="addBabysitters")
                                                  span.mini-sub-pro Add Babysitters
                                        li
                                             a(title="Edit Babysitters" href="editBabysitters")
                                                  span.mini-sub-pro Edit Babysitters
                                        li
                                             a(title="Babysitter Profile" href="babysitterProfile")
                                                  span.mini-sub-pro Babysitter Profile
                              //-Appointment
                              li.dropdown
                                   a.has-arrow(href="appointments" aria-expanded="false")
                                        span.fas.fa-clipboard-list
                                        span.mini-click-non Appointments
                                   ul.submenu-angle(aria-expanded="false").dropdown-content
                                        li
                                             a(title="Add Appointments" href="addAppointments")
                                                  span.mini-click-non Add Appointment
                                        li
                                             a(title="View Appointments" href="viewAppointments")
                                                  span.mini-sub-pro View Appointments
                                        li
                                             a(title="Edit Appointments" href="editAppointments")
                                                  span.mini-sub-pro Edit Appointments 
                              //-Register users
                              li
                                   a(title="Register Users" href="registerUsers")
                                        span.fas.fa-user-edit
                                        span.mini-sub-pro Register Users

               .col-sm-10.withinSecondRow2
                    //-Mobile menu start
                    .container-fluid
                         .row.mainSection

                              //-The top cards
                              .analytics-sparkle-area
                                   //- .container-fluid
                                   .row#packageAnalyticsHeader
                                        .col-sm-4
                                        .col-sm-4 
                                             h2.packageAnalyticsHeader Package Analytics
                                        .col-sm-4
                                   .row
                                        .col-sm-4.topCards
                                             .analytics-sparkle-line.reso-mg-b-30
                                                  .analytics-content
                                                       h5 Morning Package
                                                       h2 
                                                            span.counter 30
                                                            span.tuition-fees Kids signed up
                                                       span.text-success 20%
                                                       .progress.m-b-0
                                                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:20%;")
                                                            span.sr-only 20% Complete
                                        .col-sm-4.topCards
                                             .analytics-sparkle-line.reso-mg-b-30
                                                  .analytics-content
                                                       h5 Afternoon Package
                                                       h2 
                                                            span.counter 40
                                                            span.tuition-fees Kids signed up
                                                       span.text-danger 30%
                                                       .progress.m-b-0
                                                            .progress-bar.progress-bar-danger(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%;")
                                                            span.sr-only 23% Complete
                                        .col-sm-4.topCards
                                             .analytics-sparkle-line.reso-mg-b-30.table-mg-t-pro.dk-res-t-pro-30
                                                  .analytics-content
                                                       h5 Night Package
                                                       h2 
                                                            span.counter 45
                                                            span.tuition-fees Kids signed up
                                                       span.text-info 60%
                                                       .progress.m-b-0
                                                            .progress-bar.progress-bar-info(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;")
                                                            span.sr-only 20% Complete

                                   .row#webHeader
                                        .col-sm-4
                                        .col-sm-4 
                                             h2.webHeader Website Analytics
                                        .col-sm-4

                                   .row.container-fluid.webAnalytics 

                                        .col-sm-3
                                             .white-box.analytics-info-cs.mg-b-10.res-mg-b-30.res-mg-t-30.table-mg-t-pro-n.tb-sm-res-d-n.dk-res-t-d-n
                                                  h3.box-title Total Visit
                                                  ul.list-inline.two-part-sp
                                                       li 
                                                            #sparklinedash
                                                       li.text-right.sp-cn-r
                                                            i.fas.fa-level-up-alt(aria-hidden="true")
                                                            span.counter.text-success 1500
                                        .col-sm-3
                                             .white-box.analytics-info-cs.mg-b-10.res-mg-b-30.tb-sm-res-d-n.dk-res-t-d-n
                                                  h3.box-title Page Views
                                                  ul.list-inline.two-part-sp
                                                       li
                                                            #sparklinedash2
                                                       li.text-right.graph-two-ctn
                                                            i.fas.fa-level-up-alt(aria-hidden="true")
                                                            span.counter.text-purple 3000
                                        .col-sm-3

                                             .white-box.analytics-info-cs.mg-b-10.res-mg-b-30.tb-sm-res-d-n.dk-res-t-d-n
                                                  h3.box-title Unique Visitors
                                                  ul.list-inline.two-part-sp
                                                       li
                                                            #sparklinedash3
                                                       li.text-right.graph-three-ctn
                                                            i.fas.fa-level-up-alt(aria-hidden="true")
                                                            span.counter.text-info 5000
                                        .col-sm-3
                                             .white-box.analytics-info-cs.table-dis-n-pro.tb-sm-res-d-n.dk-res-t-d-n
                                                  h3.box-title Bounce Rate
                                                  ul.list-inline.two-part-sp
                                                       li
                                                            #sparklinedash4
                                                       li.text-right.graph-four-ctn
                                                            i.fas.fa-level-down-alt(aria-hidden="true")
                                                            span.text-danger
                                                                 span.counter 18
                                                                 |%



                         footer
                              .row
                                   .col-sm-3
                                   .col-sm-6
                                        p.footerP  Copyright &copy;All rights reserved to JBC 2019.
                                   .col-sm-3


          //-jquery
     script(src="js/vendor/jquery-1.12.4.min.js")
     //-bootstrap JS
     script(src="js/bootstrap.min.js")
     //-wow JS
     script( src="js/wow.min.js")
     //-price-slider JS
     script(src="js/jquery-price-slider.js")
     //-meanmenu JS
     script(src="js/jquery.meanmenu.js")
     //-owl.carousel JS
     script(src="js/owl.carousel.min.js")
     //-sticky JS
     script(src="js/jquery.sticky.js")
     //-scrollUp JS
     script(js/jquery.scrollUp.min.js)
     //-counterUp JS
     script(src="js/counterup/jquery.counterup.min.js")
     script(src="js/counterup/waypoints.min.js")
     script(src="js/counterup/counterup-active.js")
     //- mCustomScrollbar JS

     script(src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js") 
     script(src="js/scrollbar/mCustomScrollbar-active.js")
     //- metisMenu JS

     script(src="js/metisMenu/metisMenu.min.js")
     script(src="js/metisMenu/metisMenu-active.js")
     //- morrisjs JS
     script(src="js/morrisjs/raphael-min.js")
     script(src="js/morrisjs/morris.js")
     script(src="js/morrisjs/home3-active.js")
     //- morrisjs JS

     script(src="js/sparkline/jquery.sparkline.min.js")
     script(src="js/sparkline/jquery.charts-sparkline.js")
     script(src="js/sparkline/sparkline-active.js")
     //- calendar JS
     script(src="js/calendar/moment.min.js")
     script(src="js/calendar/fullcalendar.min.js")
     script(src="js/calendar/fullcalendar-active.js")
     //- plugins JS

     script(src="js/plugins.js") 
     //- main JS
     script(src="js/main.js") 
     //-tawk chat JS
     script(src="js/tawk-chat.js")