extends layout.pug

block styles
     meta(charset="utf-8")
     meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
     link(href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet")    
     link(rel="stylesheet" href="fonts/icomoon/style.css")
     link(rel="stylesheet" href="css/bootstrap.min.css")
     link(rel="stylesheet" href="css/bootstrap-datepicker.css")
     link(rel="stylesheet" href="css/jquery.fancybox.min.css")
     link(rel="stylesheet" href="css/owl.carousel.min.css")
     link(rel="stylesheet" href="css/owl.theme.default.min.css")
     link(rel="stylesheet" href="fonts/flaticon/font/flaticon.css")
     link(rel="stylesheet" href="css/aos.css")

     //- MAIN CSS
     link(rel="stylesheet" href="css/style.css")
     link(rel="stylesheet" href="css/myCss.css")

block content

     .ftco-blocks-cover-1
          .site-section-cover.overlay(data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')")
               .container
                    .row.align-items-center
                         .col-md-5.mt-5.pt-5.font-weight-bold.text-black(style="font-size:30px") 
                              span 
                              //- b Packages at  JUNIOR BABY CENTER
                              h1.mb-2.font-weight-bold(style="color:#FF79C0;") Gallery of moments at JBC
                              p
                                   a.text-white.madePink(href="index") Home
                                   span.mx-3 /
                                   strong  Gallery
                                        
                         .col-md-6.ml-auto.align-self-end


                                       
         
     .site-section
          .container
               .row.mb-5
                    .col-12.text-center
                         span.text-cursive.h5.text-red.d-block Our Gallery of the Kids
                         
               .row
                    .col-md-3.mb-4
                         a(href="images/img_1.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/img_2.jpg" alt="Image")
                             
                    .col-md-3.mb-4
                         a(href="images/supa3.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/supa3.jpg" alt="Image")

                    .col-md-3.mb-4
                         a(href="images/img_2.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/img_2.jpg" alt="Image")
                    
                    .col-md-3.mb-4
                         a(href="images/supa.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/supa.jpg" alt="Image")
                    
                    .col-md-3.mb-4
                         a(href="images/supa2.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/supa2.jpg" alt="Image")
                             
                    .col-md-3.mb-4
                         a(href="images/img_2.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/img_2.jpg" alt="Image")

                    .col-md-3.mb-4
                         a(href="images/supa3.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/supa3.jpg" alt="Image")
                    
                    .col-md-3.mb-4
                         a(href="images/supa2.jpg" data-fancybox="gal")
                              img.img-fluid(src="images/supa2.jpg" alt="Image")
               

     .site-section.py-5.bg-warning
          .container
               .row.justify-content-center
                    .col-md-12.d-flex
                         h2.text-white.m-0 Make an Apppointment with us today
                         a.btn.btn-primary.btn-custom-1.py-3.px-5.ml-auto(href="contact") Get Started    
                   
     footer.site-footer
          .container
               .row
                    .col-lg-4
                         h2.footer-heading.mb-3 About Us
                              b
                              p.mb-5(style="font-size:20px") Junior Baby Center (JBC)
                              i You're dedicated partners that step in when you need to step out
                              h2.footer-heading.mb-4     Send us feedback 
                              form.d-flex.subcribe(action="#")
                                   input.form-control.mr-3(type="text" placeholder="Enter feedback")
                                   input.btn.btn-primary(type="submit" value="Send")
                    .col-lg-8.ml-auto
                         .row
                              .col-lg-4.ml-auto
                                   h2.footer-heading.mb-4 Navigation
                                   ul.list-unstyled
                                        li
                                             a(href="aboutus") About Us
                                        li
                                             a(href="gallery") Gallery
                                        li
                                             a(href="pricing") Pricing
                                        li
                                             a(href="contact") Contact Us

          .row.pt-5.mt-5.text-center
               .col-md-12
                    .border-top.pt-5
                         p Copyright &copy;All rights reserved to JBC 2019.








