/* the body for the login page*/
.loginBody {
  height: 100vh;
  width: 100%;
  padding-top:150px;

    background: linear-gradient(
    rgba(21, 21, 24, 0.5),
    rgba(21, 21, 24, 0.5),
    rgba(21, 21, 24, 0.5),
    rgba(21, 21, 24, 0.5)
  );
  /*font-weight: bold;
    /*background-color:#FBCEB1 ;*/
}

/*--the form background on the login oage-*/
.loginForm {
  border-radius: 5%;
  background-color: rgb(138, 138, 141);
  padding: 20px;
  width: 450px;
  height: 350px;
  font-weight: bold;
  color: white;
}

/*buttons*/
.login {
  background-color: #ff79c0;
  border: 1px solid #ff79c0;
  font-weight: bold;
}

.reset {
  background-color: #99c2ec;
  border: 1px solid #99c2ec;
  font-weight: bold;
}